<!-- <div id="bgTech">
</div> -->



<div id="home">
	<img src="/images/earth.png" width="50px"><div id="homeEnvText"><< back to </br>&nbsp;&nbsp;&nbsp;my world</div>
</div>


<div id="contentContact">

	<div id="email">
		<a href="mailto:raulsannarciso@gmail.com">raulsannarciso@gmail.com</a>
	</div>
	
	<div id="socialMedia">
		<div id="facebook" class="socialMediaA">
			<a href="http://www.facebook.com/raulsannarciso"><img src="/images/facebook.png"></a>
		</div>
		<div id="change" class="socialMediaA">
			<a href="http://www.change.org/profile/view/1187370"><img src="/images/change.png"></a>
		</div>
		<div id="twitter" class="socialMediaA">
			<a href="http://twitter.com/raulsannarciso"><img src="/images/twitter.jpg"></a>
		</div>
		<div id="wiserEarth" class="socialMediaA">
			<a href="http://www.wiserearth.org/user/raulsan"><img src="/images/wiserEarth.jpg"></a>
		</div>
		<div id="picasa" class="socialMediaA">
			<a href="http://picasaweb.google.com/ufreeurself"><img src="/images/picasa.gif"></a>
		</div>
		
	</div>
</div>