<!-- <div id="bgTech">
</div> -->



<div id="homeEnv">
	<img src="/images/earth.png" width="50px"><div id="homeEnvText"><< back to </br>&nbsp;&nbsp;&nbsp;my world</div>
</div>

<div id="topMountain">
	
</div>

<div id="contentEnv">

	<div id="step1" class="step">
		<img src="/images/stepSW.png"/>
	</div>
	<div id="step2" class="step">
		<img src="/images/stepSW.png"/>
	</div>
	<div id="step3" class="step">
		<img src="/images/stepS.png"/>
	</div>
		
	<div id="eee">
		<div id="eeeA"><img src="/images/SeppoFinitePlanet.jpg"/></div>
		<div id="eeeB">
			<div id="eeeC">
				Effects of Overpopulation </br>
				over Energy, Environment and Economics </br>
			</div>
			<div id="eeeF">
				Illinois Institute of Technology</br>
				Spring 2010
			</div>
			<div id="eeeD">
				<a href="/docs/OverpopulationOverEEE.pdf">
					<img src="/images/pdf.jpg"/>
					<div id="eeeE">
						OverpopulationOverEEE.pdf
					</div>
				</a>
			</div>
		</div>
	</div>
	
	<div id="step4" class="step">
		<img src="/images/stepSE.png"/>
	</div>
	<div id="step5" class="step">
		<img src="/images/stepSE.png"/>
	</div>
	<div id="step6" class="step">
		<img src="/images/stepSE.png"/>
	</div>
	<div id="step7" class="step">
		<img src="/images/stepE.png"/>
	</div>
	
	<div id="avaz">
		<div id="avazB">
			<a href="http://avaaz.org">
				<img src="/images/avaazlogoanimated.gif"/>
			</a>
		</div>
		<div id="avazA">
			Donor at 
		</div>
	</div>	

	<div id="step8" class="step">
		<img src="/images/stepS.png"/>
	</div>
	<div id="step9" class="step">
		<img src="/images/stepSE.png"/>
	</div>
	<div id="step10" class="step">
		<img src="/images/stepSW.png"/>
	</div>
	<div id="step11" class="step">
		<img src="/images/stepW.png"/>
	</div>
	
	<div id="steadyState">
		<div id="steadyStateB">
			<a href="http://steadystate.org">
				<img src="/images/steadystate.gif"/>
			</a>
		</div>
		<div id="steadyStateA">
			Steady Starter
		</div>
	</div>
</div>