
<canvas id="bg"></canvas>
<div id="header">
	<div id="myNameT">
		Raul San Narciso
	</div>
	<div id="myWorldT">
		MY WORLD
	</div>
</div>

<div id="content">
	<div id="environment" class="labelA withBorder">
		Environment
	</div>
	<div id="contact" class="labelA withBorder">
		Contact
	</div>
	<div id="technology" class="labelA withBorder">
		Technology
	</div>
	<div id="social" class="labelA withBorder" style="display:none">
	</div>			
	<div id="blog" class="withBorder">
		<a href="http://blog.raulsan.info">BLOG</a>
	</div>
</div>

