<!-- <div id="bgTech">
</div> -->
<canvas id="theMatrix"></canvas>


<div id="home">
	<img src="/images/earth.png" width="50px"><div id="homeText"><< back to </br>&nbsp;&nbsp;&nbsp;my world</div>
</div>
<div id="navBarTechBg">
</div>
<div id="navBarTech">

	<div id="portfolio" style="display:none">
		#<br/>#<br/>#<br/><br/>P<br/>o<br/>r<br/>t<br/>f<br/>o<br/>l<br/>i<br/>o<br/><br/>#<br/>#<br/>#<br/>
	</div>
	<div id="resume">
		#<br/>#<br/>#<br/><br/>R<br/>e<br/>s<br/>u<br/>m<br/>e<br/><br/>#<br/>#<br/>#<br/>
	</div>
</div>

<div id="titleTech">
	<div id="titleTechA">
		P O R T F O L I O
	</div>
</div>
<div id="contentTech">
	<div id="resumeCnt" style="display:none">


		<div class="resumeX withBorder"> 
			<div class="resumeY">	
				<div class="resumeA">
					Focus: "I am a Team-Worker driven by Innovation!"
				</div>
			</div>
		</div>
		
		
		<div class="resumeX withBorder"> 
			<div class="resumeY">	
				<div class="resumeA">
					Experience
				</div>
				<div class="resumeB">
					&bull; <span class="resumeBU"><b>Netgamix LLC Co-Founder</b></span>
				</div>
				<div class="resumeC">
					I am currently working on netgamix.com 
					<br/>
					"The first Collaborative Game Platform". 
					<br/>
					I am the member focused on <b>Social Interaction and Collaboration</b> inside the platform and I am in charge of the initiative <b>10% for planet Earth!</b> Can't wait to show you :-)
				</div>
				<div class="resumeB">
					&bull; <span class="resumeBU"><b>Adjunct Instructor</b></span>
				</div>
				<div class="resumeC">
					- Illinois Institute of Technology (IIT)
					<br/>
					- From Aug 2010 to Dec 2010
					<br/>
					- Course: <b>Cloud Computing Technologies</b>
					<br/>
					- I taught the section of the course focused on "Platform as a Service" (PaaS) and I used Google App Engine and Heroku to give the students a view of the most innovative and reliable platforms in the current market.
				</div>
			</div>
		</div>
		
		
		<div class="resumeX withBorder">
			<div class="resumeY">
		
				<div class="resumeA">
					TECHNICAL EXPERTICE
				</div>
				<div class="resumeB">
					&bull; <span class="resumeBU">Programming languages</span>
				</div>
				<div class="resumeC">
					Python, PHP, Ruby, Javascript, Java, C, Ada, Haskell, Assembly
				</div>
				<div class="resumeB">
					&bull; <span class="resumeBU">Markup languages</span>
				</div>
				<div class="resumeC">
					HTML5, XML
				</div>
				<div class="resumeB">
					&bull; <span class="resumeBU">Web Development Frameworks</span>
				</div>
				<div class="resumeC">
					Django 2.5, jQuery 1.4, Ruby on Rails 2.3, Java EE 5, Spring MVC 2.5, Spring Security 2.0, Spring Web Flow 1.0, 
		
					Hibernate 3,

					Maven 3,

					Google Web Toolkit 1.6 (GWT), Google App Engine 1.2.5,

					Google Maps 2-3,

					Symfony 1.0,
				</div>
				<div class="resumeB">
					&bull; <span class="resumeBU">Mobile development</span>
				</div>
				<div class="resumeC">
					Android 2.2
				</div>
				<div class="resumeB">
					&bull; <span class="resumeBU">Cloud Computing Infrastructures</span>
				</div>
				<div class="resumeC">
					Amazon AWS (S3, EC2, EBS), Google App Engine, Heroku, Rackspace Cloud 
				</div>
				<div class="resumeB">
					&bull; <span class="resumeBU">Content Management System </span>
				</div>
				<div class="resumeC">
					Wordpress 3.0, MediaWiki 1.0
				</div>
				<div class="resumeB">
					&bull; <span class="resumeBU">IDE's</span>
				</div>
				<div class="resumeC">
					Eclipse 3.2-3.5, Neatbeans 6.7.1 
				</div>
				<div class="resumeB">
					&bull; <span class="resumeBU">Databases</span>
				</div>
				<div class="resumeC">
					MySQL, SQLite
				</div>
				<div class="resumeB">
					&bull; <span class="resumeBU">Operative Systems</span>
				</div>
				<div class="resumeC">
					Ubuntu 6.04-9.10, Mac OS X 10.6.1, Windows 98-XP
				</div>
				<div class="resumeB">
					&bull; <span class="resumeBU">Servers</span>
				</div>
				<div class="resumeC">
					Apache 2, 
					Glassfish 2.1v
				</div>
				<div class="resumeB">
					&bull; <span class="resumeBU">Others</span>
				</div>
				<div class="resumeC">
					Maple v8-v13, Java Swing
				</div>
			</div>
		</div>
			
		<div class="resumeX withBorder"> 
			<div class="resumeY">	
				<div class="resumeA">
					Education
				</div>
				<div class="resumeB">
					&bull; <span class="resumeBU">Master in Information Technology and Management</span>
				</div>
				<div class="resumeC">
					- Illinois Institute of Technology (IIT)
					</br>
					- Year '10
					</br>
					- GPA 4.0
				</div>
				<div class="resumeB">
					&bull; <span class="resumeBU">Computer Engineering</span>
				</div>
				<div class="resumeC">
					- Universidad Politecnica de Madrid (UPM), Facultad de Informatica (FI)
					</br>
					- Year '09
				</div>
			</div>
		</div>
	</div>

	<div id="portfolioCnt">

		<div id="meetloaf" class="browserPanl">
			<div class="browserBg">
				<img src="/images/browser.png">
			</div>
			<div id="meetloafCnt" class="browserCnt">
				<div class="projectHeader">
					<div class="projectHeaderA">
						<img src="/images/meetloaf.png">
					</div>
					<div class="projectHeaderB">
						<span class="projectHeaderC">Web-site: </span><a href="http://www.meetloafgae.appspot.com">http://www.meetloafgae.appspot.com</a>
					</div>
				</div>
				<div class="thumbnails">
					<div class="thumbnailsA">
						Thumbnails
					</div>
					<div class="thumbnail">
						<img src="/images/meetloaf1.png">
					</div>
					<div class="thumbnail">
						<img src="/images/meetloaf2.png">
					</div>
					<div class="thumbnail">
						<img src="/images/meetloaf3.png">
					</div>
				</div>
				<div class="projectTechnologies">
					<div class="projectTechnologiesA">
						Technologies
					</div>
					<div class="projectTechnology">
						<a href="http://www.python.org/"><img src="/images/pythonLogo.png" style="width:145px;margin-top:20px; margin-left:90px"></a>
					</div>
					<div class="projectTechnology">
						<a href="http://code.google.com/appengine/"><img src="/images/appEngineLogo.jpg" width="80px"></a>
					</div>
					<div class="projectTechnology">
						<a href="http://www.jquery.org/"><img src="/images/jqueryLogo.png" style="width:100px;margin-top:20px;"></a>
					</div>
				</div>
			</div>
		</div>
		
		<div id="netgamix" class="browserPanl">
			<div class="browserBg">
				<img src="/images/browser.png">
			</div>
			<div id="netgamixCnt" class="browserCnt">
				<div class="projectHeader">
					<div class="projectHeaderA">
						<img src="/images/netgamix.png" width="300px">
					</div>
					<div class="projectHeaderB">
						<span class="projectHeaderC">Web-site: </span><a href="http://www.netgamix.com">http://www.netgamix.com</a>
					</div>
				</div>
				<div class="thumbnails">
					<div class="thumbnailsA">
						Thumbnails
					</div>
					<div class="thumbnail">
						<img src="/images/netgamix1.png">
					</div>
				</div>
				<div class="projectTechnologies">
					<div class="projectTechnologiesA">
						Technologies
					</div>
					<div class="projectTechnology">
						<a href="http://www.python.org/"><img src="/images/pythonLogo.png" style="width:145px;margin-top:20px; margin-left:90px"></a>
					</div>
					<div class="projectTechnology">
						<a href="http://code.google.com/appengine/"><img src="/images/appEngineLogo.jpg" width="80px"></a>
					</div>
					<div class="projectTechnology">
						<a href="http://www.jquery.org/"><img src="/images/jqueryLogo.png" style="width:100px;margin-top:20px;"></a>
					</div>
				</div>
			</div>
		</div>
	
		<div id="urki" class="browserPanl">
			<div class="browserBg">
				<img src="/images/browser.png">
			</div>
			<div id="urkiCnt" class="browserCnt">
				<div class="projectHeader">
					<div class="projectHeaderA">
						<img src="/images/urkiLogo.png" width="300px">
					</div>
					<div class="projectHeaderB">
						<span class="projectHeaderC">Web-site: </span><a href="http://urki.me">http://urki.me</a>
					</div>
				</div>
				<div class="thumbnails">
					<div class="thumbnailsA">
						Thumbnails
					</div>
					<div class="thumbnail">
						<img src="/images/urki1.png">
					</div>
					<div class="thumbnail">
						<img src="/images/urki2.png">
					</div>
				</div>
				<div class="projectTechnologies">
					<div class="projectTechnologiesA">
						Technologies
					</div>
					<div class="projectTechnology">
						<a href="http://www.python.org/"><img src="/images/pythonLogo.png" style="width:145px;margin-top:20px; margin-left:90px"></a>
					</div>
					<div class="projectTechnology">
						<a href="http://code.google.com/appengine/"><img src="/images/appEngineLogo.jpg" width="80px"></a>
					</div>
					<div class="projectTechnology">
						<a href="http://www.jquery.org/"><img src="/images/jqueryLogo.png" style="width:100px;margin-top:20px;"></a>
					</div>
				</div>
			</div>
		</div>

		<div id="kabir" class="browserPanl">
			<div class="browserBg">
				<img src="/images/browser.png">
			</div>
			<div id="kabirCnt" class="browserCnt">
				<div class="projectHeader">
					<div class="projectHeaderA">
						<img src="/images/kabirLogo.png" width="500px">
					</div>
					<div class="projectHeaderB">
						<span class="projectHeaderC">Web-site: </span><a href="http://javierdelavarga.co.uk/">http://javierdelavarga.co.uk/</a>
					</div>
				</div>
				<div class="thumbnails">
					<div class="thumbnailsA">
						Thumbnails
					</div>
					<div class="thumbnail">
						<img src="/images/kabir1.png">
					</div>
					<div class="thumbnail">
						<img src="/images/kabir2.png">
					</div>
					<div class="thumbnail">
						<img src="/images/kabir3.png">
					</div>
				</div>
				<div class="projectTechnologies">
					<div class="projectTechnologiesA">
						Technologies
					</div>
					<div class="projectTechnology">
						<a href="http://www.djangoproject.com/"><img src="/images/djangoLogo.png" style="width:100px; margin-left:190px;"></a>
					</div>
					<div class="projectTechnology">
						<a href="http://www.jquery.org/"><img src="/images/jqueryLogo.png" style="width:100px; margin-top:6px;"></a>
					</div>
				</div>
			</div>
		</div>


		<div id="ghosts" class="browserPanl">
			<div class="browserBg">
				<img src="/images/browser.png">
			</div>
			<div id="ghostsCnt" class="browserCnt">
				<div class="projectHeader">
					<div class="projectHeaderA">
						<img src="/images/ghosts.png" width="370px">
					</div>
					<div class="projectHeaderB">
						<span class="projectHeaderC">Source-code: </span> Available on demand
					</div>
				</div>
				<div class="thumbnails">
					<div class="thumbnailsA">
						Thumbnails
					</div>
					<div class="thumbnail">
						<img src="/images/ghosts1.png">
					</div>
					<div class="thumbnail">
						<img src="/images/ghosts2.png">
					</div>
					<div class="thumbnail">
						<img src="/images/ghosts3.png">
					</div>
				</div>
				<div class="projectTechnologies">
					<div class="projectTechnologiesA">
						Technologies
					</div>
					<div class="projectTechnology">
						<a href="http://www.springsource.org/"><img src="/images/androidLogo.png" style="width:80px; margin-left:0px;"></a>
					</div>
				</div>
			</div>
		</div>
	
		<div id="rockyRoutes" class="browserPanl">
			<div class="browserBg">
				<img src="/images/browser.png">
			</div>
			<div id="kabirCnt" class="browserCnt">
				<div class="projectHeader">
					<div class="projectHeaderA">
						<img src="/images/rockyRoutes.png">
					</div>
					<div class="projectHeaderB">
						<span class="projectHeaderC">Source-code: </span> Available on demand
					</div>
				</div>
				<div class="thumbnails">
					<div class="thumbnailsA">
						Thumbnails
					</div>
					<div class="thumbnail">
						<img src="/images/rockyRoutes1.png">
					</div>
					<div class="thumbnail">
						<img src="/images/rockyRoutes2.png">
					</div>
					<div class="thumbnail">
						<img src="/images/rockyRoutes3.png">
					</div>
				</div>
				<div class="projectTechnologies">
					<div class="projectTechnologiesA">
						Technologies
					</div>
					<div class="projectTechnology">
						<a href="http://www.springsource.org/"><img src="/images/springLogo.png" style="width:160px; margin-left:0px;"></a>
					</div>
					<div class="projectTechnology">
						<a href="http://www.hibernate.org/"><img src="/images/hibernateLogo.gif" style="width:130px;"></a>
					</div>
					<div class="projectTechnology">
						<a href="http://java.sun.com/javaee/"><img src="/images/javaLogo.jpg" style="width:45px;margin-top:-25px;"></a>
					</div>
					<div class="projectTechnology">
						<a href="http://maven.apache.org/"><img src="/images/mavenLogo.gif" style="width:100px; margin-top:6px;"></a>
					</div>
					<div class="projectTechnology">
						<a href="http://www.jquery.org/"><img src="/images/jqueryLogo.png" style="width:100px; margin-top:6px;"></a>
					</div>
				</div>
			</div>
		</div>
		

	<div id="solarBang" class="browserPanl">
		<div class="browserBg">
			<img src="/images/browser.png">
		</div>
		<div id="solarBangCnt" class="browserCnt">
			<div class="projectHeader">
				<div class="projectHeaderA">
					<img src="/images/solarBang.png">
				</div>
				<div class="projectHeaderB">
					<span class="projectHeaderC">Source-code: </span> Available on demand
				</div>
			</div>
			<div class="thumbnails">
				<div class="thumbnailsA">
					Thumbnails
				</div>
				<div class="thumbnail">
					<img src="/images/solarBang1.png">
				</div>
				<div class="thumbnail">
					<img src="/images/solarBang2.png">
				</div>
				<div class="thumbnail">
					<img src="/images/solarBang3.png">
				</div>
			</div>
			<div class="projectTechnologies">
				<div class="projectTechnologiesA">
					Technologies
				</div>
				<div class="projectTechnology">
					<a href="http://www.springsource.org/"><img src="/images/springLogo.png" style="width:160px; margin-left:0px;"></a>
				</div>
				<div class="projectTechnology">
					<a href="http://www.hibernate.org/"><img src="/images/hibernateLogo.gif" style="width:130px;"></a>
				</div>
				<div class="projectTechnology">
					<a href="http://java.sun.com/javaee/"><img src="/images/javaLogo.jpg" style="width:45px;margin-top:-25px;"></a>
				</div>
				<div class="projectTechnology">
					<a href="http://maven.apache.org/"><img src="/images/mavenLogo.gif" style="width:100px; margin-top:6px;"></a>
				</div>
				<div class="projectTechnology">
					<a href="http://www.jquery.org/"><img src="/images/jqueryLogo.png" style="width:100px; margin-top:6px;"></a>
				</div>
			</div>
		</div>
	</div>
	
		<div id="amazonia" class="browserPanl">
			<div class="browserBg">
				<img src="/images/browser.png">
			</div>
			<div id="amazoniaCnt" class="browserCnt">
				<div class="projectHeader">
					<div class="projectHeaderA">
						<img src="/images/amazoniaLogo.png">
					</div>
					<div class="projectHeaderB">
						<span class="projectHeaderC">Web-site: </span> <a href="http://raulsan-dev.appspot.com/">http://raulsan-dev.appspot.com/</a>
					</div>
				</div>
				<div class="thumbnails">
					<div class="thumbnailsA">
						Thumbnails
					</div>
					<div class="thumbnail">
						<img src="/images/amazonia1.png">
					</div>
					<div class="thumbnail">
						<img src="/images/amazonia2.png">
					</div>
					<div class="thumbnail">
						<img src="/images/amazonia3.png">
					</div>
				</div>
				<div class="projectTechnologies">
					<div class="projectTechnologiesA">
						Technologies
					</div>
					<div class="projectTechnology">
						<a href="http://www.python.org/"><img src="/images/pythonLogo.png" style="width:145px;margin-top:20px; margin-left:90px"></a>
					</div>
					<div class="projectTechnology">
						<a href="http://code.google.com/appengine/"><img src="/images/appEngineLogo.jpg" width="80px"></a>
					</div>
					<div class="projectTechnology">
						<a href="http://www.jquery.org/"><img src="/images/jqueryLogo.png" style="width:100px;margin-top:20px;"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="sw" style="display:none">
	<div id="swA">
		<div id="swClose">
			<div id="swCloseA">Close</div> <img src="/images/close.png">
		</div>
		<div id="swItem">
		</div>
	</div>
</div>
