<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="author" content="Raul San Narciso"/>  
		<meta name="distribution" content="global" />
		<meta name="robots" content="follow, all" />
		<meta name="description" content="Raul San Narciso's personal Web-Site. An Entrepreneur and a Team worker driven by innovation."/>
		<meta name="keywords" content="Raul San Narciso, website, profile, resume, portfolio, entrepreneur, web development, Illinois Institute of Technology, UPM" />
		<meta name="google-site-verification" content="XfYxu0jUmvpySC5Xg5cxg9P9v_zK239Se-kSnEmc__0" />
		
		<%= stylesheet_link_tag 'main', 'technology', 'environment', 'contact' %>
	  <%= javascript_include_tag 'jquery', 'jqueryui', 'main', 'brushes/sketchy', 'myWorld', 'theMatrix', 'technology', 'environment', 'contact'   %>
	  <%= csrf_meta_tag %>
		<title>Raul San Narciso</title>
	</head>
	<body>

	<%= yield %>

	</body>
</html>
